#Reading in data directly from NTSB to compare to our Kaggle dataset.

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving aircraft.csv to aircraft.csv
Saving Country.csv to Country.csv
Saving ct_iaids.csv to ct_iaids.csv
Saving ct_seqevt.csv to ct_seqevt.csv
Saving dt_aircraft.csv to dt_aircraft.csv
Saving dt_events.csv to dt_events.csv
Saving dt_Flight_Crew.csv to dt_Flight_Crew.csv
Saving eADMSPUB_DataDictionary.csv to eADMSPUB_DataDictionary.csv
Saving engines.csv to engines.csv
Saving Events_Sequence.csv to Events_Sequence.csv
Saving events.csv to events.csv
Saving Findings.csv to Findings.csv
Saving Flight_Crew.csv to Flight_Crew.csv
Saving flight_time.csv to flight_time.csv
Saving injury.csv to injury.csv
Saving narratives.csv to narratives.csv
Saving NTSB_Admin.csv to NTSB_Admin.csv
Saving Occurrences.csv to Occurrences.csv
Saving seq_of_events.csv to seq_of_events.csv
Saving states.csv to states.csv

In [ ]:
import pandas as pd

First up, exploring the `events` table from NTSB.

In [ ]:
df_events = pd.read_csv('events.csv')

In [ ]:
df_events.head(3)

,ev_id,ntsb_no,ev_type,ev_date,ev_dow,ev_time,ev_tmzn,ev_city,ev_state,ev_country,...,ntsb_notf_from,ntsb_notf_date,ntsb_notf_tm,fiche_number,lchg_date,lchg_userid,wx_cond_basic,faa_dist_office,dec_latitude,dec_longitude
0,20200725X60143,CEN20LA306,ACC,07/25/20 00:00:00,Sa,NaN,UTC,Grant,NE,USA,...,NaN,NaN,NaN,NaN,05/03/23 20:32:28,frik,VMC,NaN,40.747222,-101.709990
1,20210404102861,ERA21LA171,ACC,04/03/21 00:00:00,Sa,NaN,UTC,Palmyra,PA,USA,...,NaN,NaN,NaN,NaN,05/03/23 20:32:30,coln,VMC,NaN,40.286767,-76.576988
2,20210615103270,CEN21FA270,ACC,06/15/21 00:00:00,Tu,NaN,UTC,Paragould,AR,USA,...,NaN,NaN,NaN,NaN,05/03/23 20:32:30,broda,VMC,NaN,36.103922,-90.714600

In [ ]:
df_events.tail(3)

,ev_id,ntsb_no,ev_type,ev_date,ev_dow,ev_time,ev_tmzn,ev_city,ev_state,ev_country,...,ntsb_notf_from,ntsb_notf_date,ntsb_notf_tm,fiche_number,lchg_date,lchg_userid,wx_cond_basic,faa_dist_office,dec_latitude,dec_longitude
60,20230504107811,CEN23LA170,ACC,04/30/23 00:00:00,Su,NaN,UTC,Palmer,TX,USA,...,NaN,NaN,NaN,NaN,05/05/23 16:33:58,fina,NaN,NaN,0.000000,0.000000
61,20230504107812,CEN23LA171,ACC,05/03/23 00:00:00,We,NaN,UTC,Gretna,NE,USA,...,NaN,NaN,NaN,NaN,05/04/23 19:04:48,broz,NaN,NaN,0.000000,0.000000
62,20230504107814,ERA23LA217,ACC,05/04/23 00:00:00,Th,NaN,UTC,Defuniak Springs,FL,USA,...,NaN,NaN,NaN,NaN,05/04/23 23:31:25,schl,VMC,NaN,30.733363,-86.155192

In [ ]:
df_events.describe

<bound method NDFrame.describe of              ev_id     ntsb_no ev_type            ev_date ev_dow  ev_time  \
0   20200725X60143  CEN20LA306     ACC  07/25/20 00:00:00     Sa      NaN
1   20210404102861  ERA21LA171     ACC  04/03/21 00:00:00     Sa      NaN
2   20210615103270  CEN21FA270     ACC  06/15/21 00:00:00     Tu      NaN
3   20211007104067  CEN22LA009     ACC  10/06/21 00:00:00     We      NaN
4   20211025104158  ANC22LA004     ACC  10/24/21 00:00:00     Su      NaN
..             ...         ...     ...                ...    ...      ...
58  20230503107307  ERA23LA215     ACC  04/24/23 00:00:00     Mo      NaN
59  20230504107809  ERA23LA216     ACC  04/27/23 00:00:00     Th      NaN
60  20230504107811  CEN23LA170     ACC  04/30/23 00:00:00     Su      NaN
61  20230504107812  CEN23LA171     ACC  05/03/23 00:00:00     We      NaN
62  20230504107814  ERA23LA217     ACC  05/04/23 00:00:00     Th      NaN

   ev_tmzn           ev_city ev_state ev_country  ...  ntsb_notf_from  \
0      UTC             Grant       NE        USA  ...             NaN
1      UTC           Palmyra       PA        USA  ...             NaN
2      UTC         Paragould       AR        USA  ...             NaN
3      UTC          Gonzales       LA        USA  ...             NaN
4      UTC            Willow       AK        USA  ...             NaN
..     ...               ...      ...        ...  ...             ...
58     UTC           Cullman       AL        USA  ...             NaN
59     UTC        Bridgeport       CT        USA  ...             NaN
60     UTC            Palmer       TX        USA  ...             NaN
61     UTC            Gretna       NE        USA  ...             NaN
62     UTC  Defuniak Springs       FL        USA  ...             NaN

    ntsb_notf_date  ntsb_notf_tm fiche_number          lchg_date lchg_userid  \
0              NaN           NaN          NaN  05/03/23 20:32:28        frik
1              NaN           NaN          NaN  05/03/23 20:32:30        coln
2              NaN           NaN          NaN  05/03/23 20:32:30       broda
3              NaN           NaN          NaN  05/03/23 20:32:31       broda
4              NaN           NaN          NaN  05/03/23 20:32:31        band
..             ...           ...          ...                ...         ...
58             NaN           NaN          NaN  05/04/23 17:41:28        frec
59             NaN           NaN          NaN  05/04/23 17:43:17        frec
60             NaN           NaN          NaN  05/05/23 16:33:58        fina
61             NaN           NaN          NaN  05/04/23 19:04:48        broz
62             NaN           NaN          NaN  05/04/23 23:31:25        schl

   wx_cond_basic faa_dist_office dec_latitude dec_longitude
0            VMC             NaN    40.747222   -101.709990
1            VMC             NaN    40.286767    -76.576988
2            VMC             NaN    36.103922    -90.714600
3            VMC             NaN    30.164095    -90.939111
4            VMC             NaN    61.718812   -150.054090
..           ...             ...          ...           ...
58           NaN             NaN     0.000000      0.000000
59           NaN             NaN     0.000000      0.000000
60           NaN             NaN     0.000000      0.000000
61           NaN             NaN     0.000000      0.000000
62           VMC             NaN    30.733363    -86.155192

[63 rows x 73 columns]>

In [ ]:
# counting the NaN values
events_nan_count_cols = df_events.isna().sum() 
events_nan_count_cols

ev_id               0
ntsb_no             0
ev_type             0
ev_date             0
ev_dow              0
                   ..
lchg_userid         0
wx_cond_basic      12
faa_dist_office    63
dec_latitude        0
dec_longitude       0
Length: 73, dtype: int64

In [ ]:
df_events.columns

Index(['ev_id', 'ntsb_no', 'ev_type', 'ev_date', 'ev_dow', 'ev_time',
       'ev_tmzn', 'ev_city', 'ev_state', 'ev_country', 'ev_site_zipcode',
       'ev_year', 'ev_month', 'mid_air', 'on_ground_collision', 'latitude',
       'longitude', 'latlong_acq', 'apt_name', 'ev_nr_apt_id', 'ev_nr_apt_loc',
       'apt_dist', 'apt_dir', 'apt_elev', 'wx_brief_comp', 'wx_src_iic',
       'wx_obs_time', 'wx_obs_dir', 'wx_obs_fac_id', 'wx_obs_elev',
       'wx_obs_dist', 'wx_obs_tmzn', 'light_cond', 'sky_cond_nonceil',
       'sky_nonceil_ht', 'sky_ceil_ht', 'sky_cond_ceil', 'vis_rvr', 'vis_rvv',
       'vis_sm', 'wx_temp', 'wx_dew_pt', 'wind_dir_deg', 'wind_dir_ind',
       'wind_vel_kts', 'wind_vel_ind', 'gust_ind', 'gust_kts', 'altimeter',
       'wx_dens_alt', 'wx_int_precip', 'metar', 'ev_highest_injury',
       'inj_f_grnd', 'inj_m_grnd', 'inj_s_grnd', 'inj_tot_f', 'inj_tot_m',
       'inj_tot_n', 'inj_tot_s', 'inj_tot_t', 'invest_agy', 'ntsb_docket',
       'ntsb_notf_from', 'ntsb_notf_date', 'ntsb_notf_tm', 'fiche_number',
       'lchg_date', 'lchg_userid', 'wx_cond_basic', 'faa_dist_office',
       'dec_latitude', 'dec_longitude'],
      dtype='object')

In [ ]:
# Event date is cleanly formatted, includes timecode
# We should convert to datetime object and drop the timecode
df_events['ev_date'].values

array(['07/25/20 00:00:00', '04/03/21 00:00:00', '06/15/21 00:00:00',
       '10/06/21 00:00:00', '10/24/21 00:00:00', '10/28/21 00:00:00',
       '11/12/21 00:00:00', '11/22/21 00:00:00', '12/02/21 00:00:00',
       '12/22/21 00:00:00', '04/07/22 00:00:00', '06/13/22 00:00:00',
       '06/19/22 00:00:00', '07/05/22 00:00:00', '07/04/22 00:00:00',
       '06/25/22 00:00:00', '07/17/22 00:00:00', '07/10/22 00:00:00',
       '07/23/22 00:00:00', '07/27/22 00:00:00', '07/30/22 00:00:00',
       '08/03/22 00:00:00', '08/04/22 00:00:00', '07/27/22 00:00:00',
       '08/06/22 00:00:00', '07/04/22 00:00:00', '07/16/22 00:00:00',
       '08/04/22 00:00:00', '08/15/22 00:00:00', '07/16/22 00:00:00',
       '12/07/22 00:00:00', '12/10/22 00:00:00', '12/06/22 00:00:00',
       '03/03/23 00:00:00', '03/14/23 00:00:00', '03/24/23 00:00:00',
       '03/21/23 00:00:00', '03/29/23 00:00:00', '04/08/23 00:00:00',
       '04/05/23 00:00:00', '04/11/23 00:00:00', '04/12/23 00:00:00',
       '04/16/23 00:00:00', '04/05/23 00:00:00', '04/18/23 00:00:00',
       '04/14/23 00:00:00', '04/24/23 00:00:00', '04/25/23 00:00:00',
       '04/20/23 00:00:00', '04/21/23 00:00:00', '04/18/23 00:00:00',
       '04/26/23 00:00:00', '04/28/23 00:00:00', '04/29/23 00:00:00',
       '04/30/23 00:00:00', '04/13/23 00:00:00', '05/02/23 00:00:00',
       '05/03/23 00:00:00', '04/24/23 00:00:00', '04/27/23 00:00:00',
       '04/30/23 00:00:00', '05/03/23 00:00:00', '05/04/23 00:00:00'],
      dtype=object)

In [ ]:
# this column seems unneccessary 
df_events['ev_year'].values

array([nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan])

In [ ]:
# checking out the datatypes from the events table
df_events.dtypes

ev_id               object
ntsb_no             object
ev_type             object
ev_date             object
ev_dow              object
                    ...
lchg_userid         object
wx_cond_basic       object
faa_dist_office    float64
dec_latitude       float64
dec_longitude      float64
Length: 73, dtype: object

In [ ]:
# The state column from NTSB's events table is much cleaner than our dataset
state_list = df_events['ev_state'].tolist() 
unique_state_list = set(state_list)
unique_state_list

{'AK',
 'AL',
 'AR',
 'AZ',
 'CA',
 'CT',
 'FL',
 'GA',
 'KY',
 'LA',
 'MA',
 'MT',
 'NC',
 'NE',
 'NM',
 'NY',
 'OF',
 'OH',
 'OK',
 'PA',
 'RI',
 'TN',
 'TX',
 'UT',
 'VA',
 'WA',
 'WV'}

In [ ]:
# curious! Is it possible that only 27 states were involved in accidents/incidents during the time period?
# This dataset starts in 2020, 72 years after the Kaggle dataset.
# Need to import more tables 
len(unique_state_list)

27